.Explore{
    overflow: scroll;
    width: 80vw;
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
}
.grid-explore{
    /* padding: 10px; */
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    padding: 15px;
    flex-wrap: wrap;
}
.grid-explore>img{
    height: 500px;
    width: 500px;
}